font-family = "JetBrainsMono Nerd Font"
font-size = 16
command = /run/current-system/sw/bin/fish
shell-integration = fish
cursor-style-blink = false
theme = "tokyonight"
custom-shader = "{{ ansible_env.HOME }}/code/ghostty-shader-playground/shaders/cursor_smear.glsl"
